{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- dream-property/booking.html  18 Nov 2019 05:18:01 GMT -->
<head>
<meta charset="utf-8">
<title>|| Spotlight  ||</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive1.css' %}" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">
<!--Color Themes-->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <header class="main-header">

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo mt-2"><a href="#"><img src="{% static 'images/logos/logo-v2.png' %}" alt="" title=""></a></div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li style="color:#fc1e61;"><i class="fa fa-user"></i> <span data-hover="Contact"> {{ performer.artist_name }}</span></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
							<!-- Search Btn -->
							<div class="search-box-btn"><span class="icon flaticon-search"></span></div>
                            <!-- Button Box -->
                            <div class="btn-box">
                                <a href="{% url 'Home' %}" class="theme-btn btn-style-one"><span class="txt">Logout</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

		<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="#" class="img-responsive"><img src="{% static 'images/logos/logo.png' %}" alt="" title=""></a>
                </div>
                
				<!--Right Col-->
                <div class="right-col pull-right">
					<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
		
    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon far fa-window-close"></span></div>
            
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
            	<div class="nav-logo"><a href="#"><img src="{% static 'images/nav-logo.png' %}" alt="" title=""></a></div>
                
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->
	
	<!-- Page Title -->
    <section class="page-title" style="background-image:url({% static 'images/background/3.jpg' %});">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>Bookings</h1>
                <div class="bread-crumb"><a href="{% url 'Home' %}">Home &nbsp; /</a> <i class="current">Booking</i></div>
            </div>
        </div>
    </section>
	<!-- End Page Title -->
	
	<!-- Booking Section -->
	<section class="booking-section">
		<div class="auto-container">
			<!-- Booking Header -->
			<div class="booking-dashboard-header">
				<div class="row clearfix">
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<h1>Bookings.</h1>
					</div>
				</div>
			</div>
			
			<div class="section-inner">
				<h3>Booking List</h3>
				
				<!--comment-->
				{% for invitation in invitations %}
                <article class="message-box">
                    <div class="thumb-box">
                        <figure class="thumb"><img src="{% static 'images/resource/user.png' %}" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="name">{{ invitation.name }}</div>
                        <span class="date">
                            <i class="la la-calendar"></i> 
                            {{ invitation.created_at|date:"h:i A m/d/Y" }}
                        </span>
                        <ul class="booking-info">
                            <li><strong>Name:</strong> {{ invitation.name }}</li>
                            <li><strong>Telephone:</strong> {{ invitation.location }}</li>

                            {% load custom_filters %}

                            <li><strong>Duration:</strong> 
                                {% if invitation.duration_unit == 'minutes' %}
                                    {{ invitation.duration|mul:60|floatformat:0 }} Minutes
                                {% else %}
                                    {{ invitation.duration|floatformat:2 }} Hours
                                {% endif %}
                            </li>                            
                            <li><strong>To be invitated on:</strong> {{ invitation.invite_performer_on }}</li>
                            <li><strong>Amount to be given: </strong> {{ invitation.total_amount }}</li>
                        </ul>
                        <div class="btn-box">
                            <a href="#">Approve <i class="pe-7s-check"></i></a>
                            <a href="#">Reject <i class="pe-7s-close-circle"></i></a>
                        </div>
                    </div>
                </article>
                {% empty %}
                <p>No invitations yet.</p>
                {% endfor %}

				
				
				
				
			</div>
			
		</div>
	</section>
	<!-- End Submit Property Section -->
	
	<!--Main Footer-->
    <footer class="footer-style-two">
		<div class="outer-container">
        
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
					
					<!--Footer Column-->
					<div class="footer-column col-lg-6 col-md-6 col-sm-12">
						<!-- Contact Widget -->
						<div class="footer-widget info-widget">
							<h4>touch <span class="theme_color">with us</span></h4>
							<ul class="info-list">
								<li><span class="icon flaticon-placeholder"></span>KG 382, St 14</li>
								<li><span class="icon flaticon-phone-call"></span>(+250) 794 686 625, (+250) 000 999 0000</li>
								<li><span class="icon flaticon-email"></span>info@spotlight.com</li>
							</ul>
						</div>
					</div>
					
					<!--Footer Column-->
					<div class="footer-column col-lg-6 col-md-6 col-sm-12">
						<!-- Social Widget -->
						<div class="footer-widget social-widget">
							<h4>follow <span class="theme_color">us</span></h4>
							<div class="text">Fightin' the system like a true modern day and the <br> last Robin Hood Space. </div>
							<ul class="social-icon-one">
								<li><a href="#"><span class="fa-brands fa-facebook-f"></span></a></li>
								<li><a href="#"><span class="fa-brands fa-google"></span></a></li>
								<li><a href="#"><span class="fa-brands fa-x-twitter"></span></a></li>
								<li><a href="#"><span class="fa-brands fa-skype"></span></a></li>
								<li><a href="#"><span class="fa-brands fa-linkedin-in"></span></a></li>
							</ul>
							
						</div>
					</div>
					
					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget last-widget">
							
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		
		<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
				<div class="copyright"><a href="https://jimmyprogrammer.vercel.app/" target="_blank">jimmyprogrammer.vercel.app</a></div>
            </div>
        </div>
		
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="fas fa-window-close"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="#">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
        
        </div>
        
    </div>
</div>

<!-- Color Palate / Color Switcher -->


<!--Scroll to top-->
<script src="{% static 'js1/jquery.js' %}"></script>
<script src="{% static 'js1/popper.min.js' %}"></script>
<script src="{% static 'js1/jquery-ui.js' %}"></script>
<script src="{% static 'js1/bootstrap.min.js' %}"></script>
<script src="{% static 'js1/jquery.fancybox.js' %}"></script>
<script src="{% static 'js1/jquery.countdown.js' %}"></script>
<script src="{% static 'js1/dropzone.js' %}"></script>
<script src="{% static 'js1/owl.js' %}"></script>
<script src="{% static 'js1/wow.js' %}"></script>
<script src="{% static 'js1/dropzone.js' %}"></script>
<script src="{% static 'js1/appear.js' %}"></script>
<script src="{% static 'js1/script.js' %}"></script>
<script src="{% static 'js1/color-settings.js' %}"></script>

</body>

<!-- dream-property/booking.html  18 Nov 2019 05:18:01 GMT -->
</html>